version: "3.9"

services:
  fastapi:
    build: ./fastapi
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - minio
      - postgres
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      # Config Postgres
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=avd_db
      - DB_USER=avd
      - DB_PASSWORD=avd
    volumes:
      - ./data:/data   # CSV no host montado em /data no container

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # API S3
      - "9001:9001"   # Console web
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio-data:/data

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_USER=avd
      - POSTGRES_PASSWORD=avd
      - POSTGRES_DB=avd_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: jupyter
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_TOKEN=avd123
    volumes:
      - ./notebooks:/home/jovyan/work
    depends_on:
      - minio
      - postgres
