services:
  fastapi:
    build: ./fastapi
    container_name: fastapi
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - minio
      - postgres
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=postgres
      - DB_USER=root
      - DB_PASSWORD=root
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - TB_URL=http://thingsboard:8080
      - TB_TOKEN_BRUTO=${TB_TOKEN_BRUTO}
      - TB_TOKEN_TRATADO=${TB_TOKEN_TRATADO}
    volumes:
      - ./data:/data
      - ./fastapi:/app
    networks:
      - app_network

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ./minio-data:/data
    networks:
      - app_network

  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - database_volume:/var/lib/postgresql/data
    networks:
      - app_network

  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: jupyter
    ports:
      - "8889:8888"
    environment:
      - JUPYTER_TOKEN=avd123
    volumes:
      - ./notebooks:/home/jovyan/work
    depends_on:
      - minio
      - postgres
    networks:
      - app_network

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.14.1
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
    command: >
      mlflow server
      --backend-store-uri sqlite:///mlflow.db
      --default-artifact-root s3://mlflow-artifacts/
      --host 0.0.0.0
    depends_on:
      - minio
    networks:
      - app_network

  thingsboard:
    image: thingsboard/tb-node:4.2.1
    container_name: thingsboard
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      TB_SERVICE_ID: tb-ce-node
      TB_QUEUE_TYPE: in-memory
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/thingsboard
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    networks:
      - app_network

  trendz:
    image: "thingsboard/trendz:1.14.0"
    container_name: trendz
    restart: always
    ports:
      - "8888:8888"
    environment:
      - TB_API_URL=http://thingsboard:8080
      - TRENDZ_LICENSE_SECRET=${TRENDZ_LICENSE_SECRET}
      - TRENDZ_LICENSE_INSTANCE_DATA_FILE=/data/license.data
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/trendz
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - INSTALL_TB=true
    volumes:
      - ./trendz-data:/data
      - ./trendz-logs:/var/log/trendz
    depends_on:
      - postgres
      - thingsboard
    networks:
      - app_network
    # testar isso



networks:
  app_network:
    driver: bridge

volumes:
  database_volume: